@model int
@{
    ViewData["Title"] = "My Work";
    var userID = ViewData["userID"];
    var products = ViewData["Products"] as List<productTable>;
}

<div class="text-center">
    <h1>My Work</h1>
    <p>Please ensure that you have successfully logged in before attempting to place an order.</p>
</div>

@if (userID != null)
{
    <p class="user-id-text">User ID: @userID</p>
}

<h2>Product List:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
                <td>@product.Availability</td>
                <td>
                    <form asp-controller="Transaction" class="product-form" asp-action="PlaceOrder" method="post">
                        <input type="hidden" name="userID" value="@userID" />
                        <input type="hidden" name="productID" value="@product.ProductID" />
                        <input type="hidden" name="Price" value="@product.Price" />
                        <button class="product-button" type="submit"> Place Order </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>